[project]
	description = test repository for python ( codility lessons, etc )
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/genyws (genyws)
[access "refs/for/refs/*"]
	read = group user/genyws (genyws)
	push = group user/genyws (genyws)
	label-Code-Review = -2..+2 group user/genyws (genyws)
	label-Verified = -1..+1 group user/genyws (genyws)
	rebase = group user/genyws (genyws)
	removeReviewer = group user/genyws (genyws)
	submit = group user/genyws (genyws)
[access "refs/heads/*"]
	read = group user/genyws (genyws)
	create = group user/genyws (genyws)
	push = +force group user/genyws (genyws)
	pushMerge = group user/genyws (genyws)
[access "refs/tags/*"]
	push = +force group user/genyws (genyws)
	pushTag = group user/genyws (genyws)
	pushSignedTag = group user/genyws (genyws)
