[project]
	description = test repository for python ( codility lessons, etc )
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/genyws
[access "refs/for/refs/*"]
	read = group user/genyws
	push = group user/genyws
	label-Code-Review = -2..+2 group user/genyws
	label-Verified = -1..+1 group user/genyws
	rebase = group user/genyws
	removeReviewer = group user/genyws
	submit = group user/genyws
[access "refs/heads/*"]
	read = group user/genyws
	create = group user/genyws
	push = +force group user/genyws
	pushMerge = group user/genyws
[access "refs/tags/*"]
	push = +force group user/genyws
	pushTag = group user/genyws
	pushSignedTag = group user/genyws
